<div id="login-page">

  <%= render partial: "login" %>

</div>

<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Signup</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Login</h1>
      <%= render partial: "signup" %>
    </div>
  </div>
</div>
