<% if !beer.nil? %>
  <h1>Recommended Beer: </h1>
  <ul>
    <li><%= image_tag beer.url_image %></li>
    <li><%= beer.name %></li>
    <li>ABV: <%= beer.abv %></li>
    <li>Description: <%= beer.description %></li>
  </ul>
<% end %>
