<div id="choose-character">
  <h1>Choose Guide</h1>
  <div class="cards">
    <% @characters.each do |c| %>
    <div class="card">
      <%= link_to establish_character_character_path(c) do  %>
          <div class="card-image">
            <%= image_tag c.main_image %>
          </div>
      <% end %>
      <div class="card-header">
        <%= link_to c.name, establish_character_character_path(c) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
