<div id="beer-index">
  <div class="cards">
    <% @beers.each do |b| %>
      <div class="card">
        <div class="card-image">
          <img src="<%= b.url_image %>" alt="">
        </div>
        <div class="card-header">
          <%= b.name %>
        </div>
        <div class="card-copy">
          <%= b.description %>
          <%= link_to 'Delete', b, method: :delete, class: "delete-beer" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
