@import "bourbon";
@import "neat";
@import "base/base";
@import "users";
@import "movies";
@import "sessions";
@import "scaffolds";
@import "font-awesome";


body {
   font-family: $verdana;
   background: #282828;
   color: #282828;
}

// $color1: #282828;
// $color2: #414141;
// $color3: #2e885d;
// $color4: #3aaf78;
// $color5: #54c891;
