@import "bourbon";
@import "neat";
@import "users";
@import "movies";
@import "sessions";
@import "scaffolds";
@import "font-awesome";


body {
   font-family: $verdana;
   background: #3ab565;
   color: #2b2b2b;
}

/* main colors

$color1: #111111;
$color2: #2b2b2b;
$color3: #22663a;
$color4: #2e8d50;
$color5: #3ab565;

*/
