// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#choose-character {
  h1 {
    font-size: 50px;
    color: black;
    width: 26%;
    margin: auto;
  }

  p {
    width: 150px;
    margin: 30px auto;

    a {
      color: black;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  img {
    display: block;
    width: 300px;
    margin: auto;
    padding-right: 50px;
  }
}
