// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-movie-link {

}

#movie-span {
  margin-top: 6px;
  background-color: #c0392b;
  padding: 4px;
  border: 1px solid black;
  color: black;
  border-radius: 2.5px;

  a:hover {
    background-color: #c0392b;
  }

  a:visited {
    color: black;
  }

}

#user-link {
  margin-right: 5px;
}
