// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-movie-link {

}

#movie-span {
  margin-top: 6px;
  background-color: white;
  border: 3px solid green;
  border-radius: 2px;
  padding: 2.5px;
}
